/*
Colors Used:
Header/Footer Color: Blue #4A557B
Button Color Color: Purple #2F2183
Header 1,2 Color: Blue #4A557B
Header 3,4 Color: Blue #5E7AAE
*/
* {
    box-sizing: border-box;
  }
  
body {
    color: black;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /*sets the font size to 16*/
    font-weight: 400; /*sets the font weight to 400*/
    line-height: 1.8em ; /*sets the line height to 1.8*/

}
h1, h2, h3, h4 {
    line-height: 1.4em;
}
h1 {
    font-size: 2.5em;
    color: #2F2183;
    font-weight: 600;
    letter-spacing: 10px;
  
}
h2 {
    font-size: 2em;
    color: #4A557B;
    font-weight: 600;
    letter-spacing: 5px;
}
h3 {
    font-size: 1.75em;
    color: #5E7AAE;
    font-weight: 600;
    letter-spacing: 5px;
}
h4 {
    font-size: 1.25em; 
    color: #5E7AAE;
    font-weight: 600;
    letter-spacing: 5px;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
}
h1, h2, h3, h4 {
    width: auto;
    height: auto;
    max-width: 100%;
}
a {
    color: #2F2183;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #2F2183;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #aba6cd;
  }
  a:active { /* selected link */
    color: #2F2185;
  }

a:focus {
  color: #2F2183;
  text-decoration: underline;
}
.button:visited {
    color: white
}

.button {
    display: inline-block;
    background-color:#2F2183;
    color: white;
    font-weight:400;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button:active {
    background-color: #140C48;
}
.button.contact {
    background-color:transparent;
    color: white;
    border: 2px solid white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:20px auto;
}

.button.contact:hover {
    background-color:white;
    color: #2F2183;
    opacity: 0;
}
.container {
    padding: 0 15px;
  }
#my-header {
    display: block;
    background-color: #4A557B;
    color: white;
    padding: 5px;
    margin: 5px; 
    border: 5px solid #4A557B;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}
#hero {
    display:inline-block;
}
#work {
    display:inline-block;
}
    
#my-footer {
    display: block;
    background-color: #4A557B;
    color: white;  
    border: 15px solid #4A557B;
}

#my-work {
    display: inline-block;
}
.logo-image {
    display:block;
    width: 60%;
}

#work, #contact,#about {
    color:white;
}
#footer-title {
    color: white;
}
