/*
Colors Used:
Header/Footer Color: Blue #4A557B
Button Color Color: Purple #2F2183
Header 1,2 Color: Blue #4A557B
Header 3,4 Color: Blue #5E7AAE
*/
* {
    box-sizing: border-box;
  }
  
body {
    color: black;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; /*sets the font size to 14*/
    font-weight: 400; /*sets the font weight to 400*/
    line-height: 1.8em ; /*sets the line height to 1.8*/

}
h1, h2, h3, h4 {
    line-height: 1.4em;
}
h1 {
    margin: 10% auto;
    display: block;
    font-size: 1.8em;
    color: #2F2183;
    font-weight: 600;
    letter-spacing: 10px;
  
}
h1 > span {
    display: block;
    font-size: 0.6em;
    color: #4A557B;
}
h2 {
    margin: 5% auto;
    font-size: 1.75em;
    color: #4A557B;
    font-weight: 600;
    letter-spacing: 5px;
}
h3 {
    margin: 5% auto;
    font-size: 1.4em;
    color: #5E7AAE;
    font-weight: 600;
    letter-spacing: 5px;
}
h4 {
    margin: 10% auto;
    font-size: 1.15em; 
    color: #5E7AAE;
    font-weight: 600;
    letter-spacing: 5px;
}
img {
    display: inline-block;
    width:auto;
    height:auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
svg{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4 {
    width: auto;
    height: auto;
    max-width: 100%;
}
a {
    color: #2F2183;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #2F2183;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #aba6cd;
  }
  a:active { /* selected link */
    color: #2F2185;
  }

a:focus {
  color: #2F2183;
  text-decoration: underline;
}
.button:visited {
    color: white
}

.button {
    display: inline-block;
    background-color:#2F2183;
    color: white;
    font-weight:400;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.7;
    text-decoration: none;
}
.button:active {
    background-color: #140C48;
}
.button.contact {
    background-color:transparent;
    color: white;
    border: 2px solid white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:20px auto;
}

.button.contact:hover {
    background-color:white;
    color: #2F2183;
}
.button.contact:active {
    background-color:rgb(211, 193, 238);
    color: #2F2183;
    opacity: 0;
}
.container {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    width: 100%;
  }
#my-header {
    display: block;
    background-color: #4A557B;
    width:auto;
    color: white;
    text-align: center;
    padding: 5px;
    border: 5px solid #4A557B;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    position: relative;
}
.logo {
    max-width: 250px;
}
#banner-image{
    max-width: 100%;
    margin-left:10%;
    margin-right: 10%;
}
nav{
    display: inline-block;
    width: 100%;
}
nav > ul{
    list-style-type: none;
    padding: 0;
}
nav > ul> li{
    display: inline-block;
}

/*////////HERO CSS///////*/ 

#hero {
    display:block;
    background-color: whitesmoke;
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
}

#hero h1{
    text-align:center

}
#hero-image {
   display:block;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
}
 #hero-svg {
    height:auto;
    width: auto;
    max-width: 100%;
    padding: 0;
 }

/*////////NAVIGATION CSS///////*/ 

nav > ul> li> a {
    color: white;
padding: 0 15px;
font-weight:600
}
nav > ul> li> a:hover{
    text-decoration-line: underline;
}
nav > ul> li> a:visited{
    color: white;
}
.center-image {
    display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.center{
   text-align: center
}

#work {
    display:inline-block;
    max-width:80%;
}
#work-text{
margin-left:20px;
margin-right:20px;
}




#my-footer {
    display: block;
    background-color: #4A557B;
    color: white;  
    border: 15px solid #4A557B;
}

#my-work {
    background-color: whitesmoke;
    display: inline-block;
}

#work, #contact, #about{
    color:white;
}
#footer-title {
    color: white;
}
.row {
    margin: 25px 0;
    background-color: whitesmoke;
    
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  

#about-title {
    width: 100%;
    text-align: center;
    padding: 20px;
}
.socials{
    display: inline-block;
    justify-content: center;
    height:auto;
    width: auto;
}
.social-link {
    margin:10px;
    max-width: 25px;

}
#about-image {
    display: block;
    width: auto;
    height: auto;
    max-width: 70%;}

.right{
    text-align: right;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    #my-header {
        text-align: unset;
        padding: 10px 0 0 13px;
    }
    nav {
        width:auto;
        float: right;
        margin-top: 20px;
        padding-right:15px;
    }
    .logo {
        margin-top: 10px;
    }
    #about-page h3{
        margin-top: 0;
      }
      body {
        display: inline-block;
        font-size: 14px;
    
    }
    h1, h2, h3, h4 {
        margin: 5% auto;
    }
    #hero {
        text-align:center;
    }
    #hero-image{
        height: 233px;
        width: 233px;
    
    }
    #hero span {
        font-size:small;
        display: block;
        width: 100%;
        padding-top: 30px;
        padding-left: 10px;
        margin-right: 0;
    }
    #banner-image{
        margin-top:50px;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-3 {
        margin-top: 5%;
        width: 32%;
        margin-bottom: 5%;

    }
    #work-text{
        margin:auto;
    
    }
    .button{
        margin-top: 5px;
    }
    h3 { 
        margin-bottom: 5px;
    }
    
#resume{
    display: flex;
    width: 200px;
    justify-content: center;
}
#smallest{
    font-size:10px;
}
    [class*="col-"] {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
      }

}
    



  

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    body{
        font-size: medium;
    }
    .col-lg-7 {
        width: 60%;
        padding-right: 5%;
    }
    .col-lg-5 {
        width: 40%;
        margin-top: 5%;
        padding-left: 5%
    }
    .col-lg-8 {
        width: 60%;
        margin-right: 10%;
    }
    .col-lg-4 {
        width: 28%;
        margin-top:20%;
        padding-top: 10px;
        padding-left: 30px;
        border-radius: 8px;
        padding-bottom: 10px;
    }
    #toollist {
        width: 300px;
        margin: auto;
        padding-left:10%;
        color: rgb(75, 75, 125);
            background-color:#ffffff;
            box-shadow: 0px 4px 20px #5E7AAE;
            padding-top: 5%;
            padding-bottom: 5%;
            margin-top: 10%;
            border-radius: 8px;
    }
    #skilllist {
    width: 300px;
        margin: auto;
        padding-left:10%; 
        color: rgb(75, 75, 125);
        background-color:#ffffff;
        box-shadow: 0px 4px 20px #5E7AAE;
        margin-top: 10%;
        margin-bottom: 12%;
        padding-top: 5%;
            padding-bottom: 10%;
        border-radius: 8px;}
        
        

    html {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
    #hero span {
        font-size:medium;
        display: block;
        width: 100%;
        padding-top: 30px;
        padding-left: 10px;
        margin-right: 0;}


        #designsystem{
            margin-right:50%;
            margin-top: 40%;
        }
        #about-image {
            max-width: 40%;
        }
        #about-title{
            margin-bottom:0%;
        }
        #work-text{
            margin-top: 5%;
        }

    }
   
        
        
        


  /*SVG ANIMATIONS*/

  @keyframes small-color-change {
    0% {fill: #0E2971}
    50% {fill: rgb(213, 212, 225);}
    100% {fill: rgb(31, 5, 84);}
  }

  .uiux {
    animation: 5s small-color-change infinite linear;
  }
  @keyframes big-color-change {
    0% {fill: rgb(163, 56, 202)}
    50% {fill:#2a52b0}
    100% {fill: rgb(31, 5, 84);}
  }
  .svg-text {
    animation: 6s make-bigger linear;
    transform-origin: 50% 50%;
transform-box:fill-box;
}
 

  @keyframes rotate-left {
    from {transform: rotate(0)}
    to {transform: rotate(359.9deg)}
}
.wheel-left {
    animation: 10s rotate-left infinite;
transform-origin: 50% 50%;
transform-box:fill-box;
}
@keyframes rotate-right {
    from {transform: rotate(0)}
    to {transform: rotate(-359.9deg)}
}
.wheel-right {
    animation: 10s rotate-right infinite;
transform-origin: 50% 50%;
transform-box:fill-box;
}
@keyframes make-bigger {
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}
.circle {
    animation: 6s make-smaller linear;
    transform-origin: 50% 50%;
transform-box:fill-box;
}